.nav{
    background-color: #1D9DEA;
    border-radius: 20px;
    box-shadow:#1da8fd 0px 0px 30px 0px;
    color: #223645;
    font-size: 12.85px;
    line-height: 19.275px;
    padding: 5px 50px;
    text-align: left;
}